
.header .title {
    font-size: 60px;
    font-weight: bold;
    line-height: 70px;
    color: #FFF;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    animation: neon-3 5s steps(1, start) infinite reverse;
}
@keyframes neon-3 {
    0%{
        color: #000000;
        text-shadow: 0 0 7px #000000, 0 0 8px #000000;
    }
    80%{
        color: #fff;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #454545;
    }
    81%{
        color: #E1F5FE;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #454545;
    }
    82%{color: #000000;
        text-shadow: 0 0 7px #000000, 0 0 8px #000000;
    }
    83%{
        color: #E1F5FE;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #454545;
    }
    84%{
        color: #000000;
        text-shadow: 0 0 7px #000000, 0 0 8px #000000;
    }
    85%{
        color: #E1F5FE;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #454545;
    }
    100%{
        color: #000000;
        text-shadow: 0 0 7px #000000,0 0 8px #000000;
    }
}