.button_start {
    margin-top: 50px;
    margin-left: 5px;
    border: 1px solid black;
    border-radius: 20%;
    font-size: 30px;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}